# Don't copy local secrets or data!
.env
schedules/
flags/

# Don't copy Python cache or system files
__pycache__/
*.pyc
.DS_Store

# Don't copy Docker/Git stuff into the Docker image itself
Dockerfile
docker-compose.yml
.dockerignore
.git/
.gitignore

# Don't copy any .tar image files
*.tar
