[Unit]
Description=SpadaBot Telegram
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/sapdaplaywright
EnvironmentFile=/root/sapdaplaywright/.env
ExecStart=/root/sapdaplaywright/venv/bin/python /root/sapdaplaywright/telegbot.py
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
